---
http_interactions:
- request:
    method: post
    uri: https://api.elevenlabs.io/v1/flows/video
    body:
      encoding: UTF-8
      string: '{"model_id":"veo-3.1-fast-generate-001","prompt":"A paper boat drifting
        on still water","duration_secs":4,"generate_audio":false}'
    headers:
      Xi-Api-Key:
      - "<ELEVENLABS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 5aaa837a8e3c9a37837c5abcfa80072a
      X-Region:
      - us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"detail":{"type":"payment_required","code":"paid_plan_required","message":"This
        endpoint requires a Pro plan or above.","status":"paid_plan_required","request_id":"5aaa837a8e3c9a37837c5abcfa80072a"}}'
  recorded_at: Thu, 17 Sep 2026 22:15:25 GMT
recorded_with: VCR 6.4.0
