---
http_interactions:
- request:
    method: post
    uri: https://api.elevenlabs.io/v1/flows/image
    body:
      encoding: UTF-8
      string: '{"model_id":"gemini-3.1-flash-lite-image","prompt":"A small red ruby
        on a plain white background"}'
    headers:
      Xi-Api-Key:
      - "<ELEVENLABS_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 45fb7ceb45bf287af3a4f386efa24fd1
      X-Region:
      - us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"detail":{"type":"payment_required","code":"paid_plan_required","message":"This
        endpoint requires a Pro plan or above.","status":"paid_plan_required","request_id":"45fb7ceb45bf287af3a4f386efa24fd1"}}'
  recorded_at: Mon, 14 Sep 2026 09:50:14 GMT
recorded_with: VCR 6.4.0
