---
http_interactions:
- request:
    method: post
    uri: https://api.deepgram.com/v1/listen?model=nova-3-general&smart_format=true&utterances=true
    body:
      encoding: UTF-8
      string: '{"url":"https://dpgr.am/spacewalk.wav"}'
    headers:
      Authorization:
      - Token <DEEPGRAM_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Dg-Project-Id:
      - 8ea17a84-2d74-4eab-9fa8-d9c4c42f9bb3
      Dg-Request-Id:
      - 01a0a8fc-241d-7f83-88f4-76df76cd47d6
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"transaction_key":"deprecated","request_id":"01a0a8fc-241d-7f83-88f4-76df76cd47d6","sha256":"154e291ecfa8be6ab8343560bcc109008fa7853eb5372533e8efdefc9b504c33","created":"2026-09-16T06:51:32.535Z","duration":25.933313,"channels":1,"models":["2187e11a-3532-4498-b076-81fa530bdd49"],"model_info":{"2187e11a-3532-4498-b076-81fa530bdd49":{"name":"general-nova-3","version":"2025-07-31.0","arch":"nova-3"}}},"results":{"channels":[{"alternatives":[{"transcript":"Yeah.
        As as much as, it''s worth celebrating, the first, spacewalk, with an all
        female team, I think many of us are looking forward to it just being normal.
        And, I think if it signifies anything, it is, to honor the the women who came
        before us who, were skilled and qualified, and didn''t get the same opportunities
        that we have today.","confidence":0.99902344,"words":[{"word":"yeah","start":0.0,"end":0.48,"confidence":0.99609375,"punctuated_word":"Yeah."},{"word":"as","start":0.48,"end":0.64,"confidence":0.9941406,"punctuated_word":"As"},{"word":"as","start":0.64,"end":1.12,"confidence":0.99316406,"punctuated_word":"as"},{"word":"much","start":1.12,"end":1.36,"confidence":0.99902344,"punctuated_word":"much"},{"word":"as","start":1.36,"end":1.68,"confidence":0.9416504,"punctuated_word":"as,"},{"word":"it''s","start":1.92,"end":2.32,"confidence":0.9995117,"punctuated_word":"it''s"},{"word":"worth","start":2.32,"end":2.6399999,"confidence":[...]
